
<a href="#" class="btn-lg" id="prev">< Prev </a>
<a href="#" class="btn-lg" id="next">Next ></a>


{{#each data}}
<div class="news-item">
  <div>
    <img src="{{image}}" />
    <h1>{{name}}</h1>

    <button class="follow-btn" data-id="{{id}}">Folow</button>
    <button class="follow-btn" data-id="{{id}}">Read latest</button>
  </div>
  <p>{{description}}</p>
  <a href="{{link}}">{{link}}</a>

</div>
{{/each}}
